* {
    box-sizing: border-box;
}

body {
    --background-color: white;
    --text-color: black;
    --elements-color: white;
    margin: 0;
    font-family: Nunito, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark {
    --background-color: hsl(207, 26%, 17%);
    --text-color: white;
    --elements-color: hsl(209, 23%, 22%);
}

main {
    padding: 24px;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-container {
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    padding-inline: 24px;
    background-color: var(--elements-color);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.title {
    font-weight: 800;
}

.theme-changer {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.countries-container {
    /* border: 1px solid red; */
    max-width: 1200px;
    margin-top: 16px;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.country-card {
    width: 250px;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 24px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    background-color: var(--elements-color);
}

.country-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 24px;
    margin-block: 16px;
}

.card-text {
    padding-inline: 16px;
}

.card-text p {
    margin-block: 8px;
}

.country-card img {
    width: 100%;
}

.search-filter-container {
    max-width: 1200px;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.search-container {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 350px;
    border-radius: 4px;
    padding-left: 24px;
    background-color: var(--elements-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.search-container input {
    border: none;
    outline: none;
    padding: 16px;
    width: 100%;
    background-color: inherit;
    color: inherit;
}

.search-container input::placeholder {
    color: #999;
}

.filter-by-region {
    width: 250px;
    padding: 16px;
    border: none;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--elements-color);
    color: var(--text-color);
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.pagination button {
    padding: 10px 20px;
    font-weight: 700;
    font-size: 1.3rem;
    margin: 0 8px;
    background-color: var(--elements-color);
    border: none;
    border: 1px solid lightblue;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
}

/* .pagination button:hover {
    background-color: var(--background-color);
} */

@media (max-width: 768px) {
    .countries-container, .search-filter-container {
        justify-content: center;
        gap: 16px;
    }

    .title {
        font-size: 20px;
    }

    .header-content p {
        font-size: 14px;
    }

    .search-filter-container {
        flex-direction: column;
        gap: 16px;
    }

    .country-card {
        width: 100%;
        max-width: 300px;
    }
}
